.container {
    background-color: #ffffff;
    max-width: 960px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px;
    padding-bottom: 100px;
    margin: 0 auto;
    position: relative;
    bottom: 60px;
}

nav {
    margin: 20px;
}


ul {
    text-align: right;
}

li {
    list-style-type: none;
    display: inline-block;
}

a { 
    color: gray;
    text-decoration: none
}


h1 {
    color: white;
    background: #4aaaa5;
    width: 230px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: 112px;
    left: 110px;
}

h2 {
    color: #4aaaa5;
    background-color: #ffffff;
    padding: 20px;
    border-bottom: 1px solid #cccccc;
}

p {
    font-size: 14px;
    line-height: 2em;
}    

img {
    float: left;
    margin: 20px;
}

.box { 
    background-image: url(assets/images/interlaced.png);
    padding: 80px; 
} 

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.footer {
    /* grid-row-start: 2;
    grid-row-end: 3; */
    border-top: 8px solid #4aaaa5;
}

.below-footer {
    background: rgb(102, 102, 102);
    padding: 20px;
}


input {
    height: 30px;
    width: 80%;
}



.image-container {
    max-width: 960px;
    padding-bottom: 500px;
    background: #ffffff;
    margin: 0 auto;
}

.Hangman {
    background: #4aaaa5;
    position: relative;
    top: 200px;
    padding: 20px;
    width: 160px;
    left: 23px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
}

.rpg-game {
    background: #4aaaa5;
    position: relative;
    top: 200px;
    padding: 20px;
    width: 160px;
    left: 67px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
}

.trivia-game {
    background: #4aaaa5;
    position: relative;
    top: 200px;
    padding: 20px;
    width: 160px;
    left: 23px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
}

.rutgers {
    background: #4aaaa5;
    position: relative;
    top: 200px;
    padding: 20px;
    width: 160px;
    left: 67px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
}

.rock-paper {
    background: #4aaaa5;
    position: relative;
    top: 400px;
    padding: 20px;
    width: 160px;
    left: 23px;
    bottom: 100px;
    color: #ffffff;
    text-align: center;
}





button {
    background: #4aaaa5;
    color: #ffffff;
}